@import 'colors';

@mixin wordWrap {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

@mixin link {
  color: $color-primary;
  text-decoration: underline;
}
