.v-application {
  background: transparent !important;

  .page-wrapper {
    height: 100vh !important;
    overflow: auto;
  }
}

.v-application,
.v-overlay {
  .v-btn {
    letter-spacing: 0;

    &--variant-outlined {
      border: 1px solid #bfbfc3;
    }

    &--density-compact {
      height: 32px !important;
      min-width: 87px !important;
    }
  }
}
